<html>
    <head>
        <title>Pogodynka</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-light bg-warning">
        <a class="navbar-brand" href="#">
            <img src="https://img.icons8.com/doodle/48/000000/sun--v1.png" width="60" height="60" class="d-inline-block align-top" alt="">
        <h1>POGODYNKA</h1>
        </a>
    </nav>
    <br>
    <div class="row">
        <div class="col-sm-6 bg-light">
          <div class="container-fluid">
            <h1><span class="badge badge-primary">Aktualna temperatura:</span></h1>
            <div>
                <img src="https://img.icons8.com/wired/64/000000/sad-sun.png" width="60" height="60" class="d-inline-block align-top" alt="">
                {{ temperature }}                
            </div>
        </div>
        </div>
        <div class="col-sm-6 bg-light">
          <div class="container-fluid">
            <h1><span class="badge badge-primary">Wilgotnosc:</span></h1>
            <div>
                <img src="https://img.icons8.com/dusk/64/000000/water.png" width="60" height="60" class="d-inline-block align-top" alt="">
                {{ higr }}                
            </div>
        </div>
        </div>
		<div class="col-sm-6 bg-light">
          <div class="container-fluid">
            <h1><span class="badge badge-primary">Ostatnie wstrzasy:</span></h1>
            <div>
                <img src="https://img.icons8.com/wired/64/000000/audio-wave-2.png" width="60" height="60" class="d-inline-block align-top" alt="">
                {{ vibr }}                
            </div>
        </div>
        </div>
    </div>
    <div>
        <a href="/login">Zaloguj</a>
        <a href="/setLed">Sterowanie</a>
    </div>
    </body>
</html>