<html>
    <head>
        <title>Pogodynka - logowanie </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-light bg-warning">
        <a class="navbar-brand" href="#">
            <img src="https://img.icons8.com/doodle/48/000000/sun--v1.png" width="60" height="60" class="d-inline-block align-top" alt="">
        <h1>POGODYNKA</h1>
        </a>
    </nav>
        <div class="container">
            <form action="/login" method="post">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>