<html>
    <head>
        <title>Pogodynka - setLed </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-light bg-warning">
        <a class="navbar-brand" href="#">
            <img src="https://img.icons8.com/doodle/48/000000/sun--v1.png" width="60" height="60" class="d-inline-block align-top" alt="">
        <h1>POGODYNKA</h1>
        </a>
    </nav>
        <div class="container">
            <form action="/setLed" method="post">
                <label><b>Stan urzadzenia</b></label><br>
                <label><input type="radio" name="stan" {{ checkedOn }} value="on"> Wlaczone</label>
                <br>
                <label><input type="radio" name="stan" {{ checkedOff }} value="off"> Wylaczone</label>
                <br>
                <button type="submit">Wyslij</button>
            </form>
        </div>
    </body>
</html>